<section>
  <h2>OUR MENU</h2>
  <div class="menu-container">
    <img src="assets/img/r1.png" alt="1" />

    <div class="dishes-container">
      <h3>Ramen 1</h3>
      <div class="price-and-sort-container">
        <div class="sort">
          <div class="sort">Chicken</div>
          <div class="sort">beef</div>
          <div class="sort">Fish</div>
        </div>

        <div class="price">
          <div class="prices">11,50 €</div>
          <div class="prices">12,80 €</div>
          <div class="prices">13,90 €</div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-container">
    <img src="assets/img/r2.png" alt="2" />

    <div class="dishes-container">
      <h3>Ramen 2</h3>
      <div class="price-and-sort-container">
        <div class="sort">
          <div class="sort">Chicken</div>
          <div class="sort">beef</div>
          <div class="sort">Fish</div>
        </div>

        <div class="price">
          <div class="prices">11,50 €</div>
          <div class="prices">12,80 €</div>
          <div class="prices">13,90 €</div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-container">
    <img src="assets/img/r3.png" alt="3" />

    <div class="dishes-container">
      <h3>Ramen 3</h3>
      <div class="price-and-sort-container">
        <div class="sort">
          <div class="sort">Chicken</div>
          <div class="sort">beef</div>
          <div class="sort">Fish</div>
        </div>

        <div class="price">
          <div class="prices">11,50 €</div>
          <div class="prices">12,80 €</div>
          <div class="prices">13,90 €</div>
        </div>
      </div>
    </div>
  </div>
</section>
